<!DOCTYPE html>

<html lang="zh-Hant-TW">
    <head>
        <title>網管小組教學資源網</title>
        <style>
            .header{
                background-color:#BE77FF;
                height:80px;
                display:flex;
            }
            #mainhead{
                padding:0px;
                margin-left:12px;
            }
            #rhdisplay{
                display:flex;
                font-size:25px;
            }
            .needhover:hover{
                background-color:#ffe6ff;
            }
        </style>
        <link href="/static/hsnucnmc.png" rel="icon">

    </head>
    <body>
        <div class="header">
            <div id="mainhead"><h1>網管小組教學資源網</h1></div>
            <div id="right-header">
                <ul id="rhdisplay">
                    <ol class="needhover"><a href="https://www.hs.ntnu.edu.tw">校網</a></ol>
                    <ol class="needhover"><a href="https://cnmc.tw">社網</a></ol>
                    <ol class="needhover"><a href="/slide">社課簡報</a></ol>
                    <ol class="needhover"><a href="/others">學習資源</a></ol>
                </ul>
            </div>
        </div>
        <div id=“bottom”>
            <div id="bottom_left">
                <h3>行事曆&排定課表</h3>
                <iframe src="https://calendar.google.com/calendar/embed?src=cnmc%40gs.hs.ntnu.edu.tw&ctz=Asia%2FTaipei" style="border: 0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <div id
        </div>
    </body>
</html>

